body{
    background-color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
}

.container{
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;  
    border: solid black;
}

@media screen and (max-width: 800px){
    .container{
        width: 80%;
    }
}